@font-face {
	font-family: "Hyperwalk VF";
	src: url("/fonts/HyperwalkVF.woff2") format("woff2"),
		url("/fonts/HyperwalkVF.woff") format("woff"),
		url("/fonts/HyperwalkVF.ttf") format("ttf");
}

@font-face {
	font-family: "Hyperwalk Mono VF";
	src: url("/fonts/HyperwalkMonoVF.woff2") format("woff2"),
		url("/fonts/HyperwalkMonoVF.woff") format("woff"),
		url("/fonts/HyperwalkMonoVF.ttf") format("ttf");
}

:root {
	/* --color-fg: black; */
	/* --color-bg: white; */
	/* --color-accent: blue; */
	font-family: "Hyperwalk VF", sans-serif;
	font-weight: 80;
	font-size: 12pt;
	background-color: var(--color-bg);
	color: var(--color-fg);
	text-align: left;
}

/* paragraph spacing */
p, h1, h2, h3 {
	margin-bottom: .5em;
}

p {
	line-height: 1.1em;
}

h1 {
	font-size: 4rem;
	font-weight: 80;
	/* letter-spacing: -.06em; */
	align-self: stretch;
}

h2 {
	font-size: 2.4rem;
}

h3 {
	font-size: 1.4rem;
}

a,
a:hover,
a:visited,
a:active {
	color: var(--color-fg);
	text-decoration: none;
	border-bottom: none;
}

/* details is being used by markdown files */

.caption, 
.details p,
.warning p {
	font-size: 8pt;
	line-height: 1.2em;
	letter-spacing: .06em;
}

.mono, 
.details p {
	font-family: 'Hyperwalk Mono VF', Courier, monospace;
	font-weight: 80;
	line-height: 1em;
	letter-spacing: .06em;
	margin-bottom: 0em;
	text-transform: uppercase;
}

/* markdown specific */
.details {
	margin-bottom: 1rem;
	margin-top: 2rem;
}

.warning {
	display: inline-block;
	padding: 0em 0em 0em 2.4em;
	background-image: url("/images/warning.svg");
	background-repeat: no-repeat;
	background-size: 2rem;
	min-height: 2.1rem;
	margin-bottom: 1rem;
}

.environment {
	background-image: url("/images/environment-warning-3.svg");
}

h4 a {
	font-weight: 80;
	color: white !important;
	background-color: black;
	padding: .4em .4em .2em .4em;
	display: inline-block;
	/* the margin below links seemed small before the warning label */
	margin-bottom: 1em;
}

hr {
	border: none;
	margin-bottom: 2rem;
	height: 0;
	/* height: 1rem; */
}