@font-face {
	font-family: "Hyperwalk VF";
	src: url("/fonts/HyperwalkVF.woff2") format("woff2"),
		url("/fonts/HyperwalkVF.woff") format("woff"),
		url("/fonts/HyperwalkVF.ttf") format("ttf");
}

@font-face {
	font-family: "Hyperwalk Mono VF";
	src: url("/fonts/HyperwalkMonoVF.woff2") format("woff2"),
		url("/fonts/HyperwalkMonoVF.woff") format("woff"),
		url("/fonts/HyperwalkMonoVF.ttf") format("ttf");
}

@font-face {
	font-family: "Tactics Regular";
	src: url("/fonts/Tactics-Regular.woff2") format("woff2"),
		url("/fonts/Tactics-Regular.woff") format("woff"),
		url("/fonts/Tactics-Regular.ttf") format("ttf");
}

:root {
	--color-fg: black;
	--color-bg: white;
	--color-accent: blue;
	--outer-margin: 1rem;
	--top-margin: 10rem;
	--grid-gap: 1rem;
	--vertical-gap: 4rem;
	--spacer: 1rem;
	--nav-height: 5rem;
	background-color: var(--color-bg);
	color: var(--color-fg);
	text-align: left;
	font-size: 10pt;
	/* text-transform: lowercase; */
	/* font-family: "Hyperwalk VF", sans-serif; */
	/* text-transform: lowercase; */
}

/* make buttons just be the same as a plain text link and the active state should have an underline just like links */
button.unstyled-link,
button.unstyled-link:hover,
button.unstyled-link:active {
	background: none;
	border: none;
	padding: 0;
	font: inherit;
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

button.unstyled-link.active {
	text-decoration: underline;
	text-underline-offset: 0.2em;
}

.image-contrast {
	filter: contrast(0.77);
}

body,
.mono {
	font-family: "Hyperwalk Mono VF", sans-serif;
	font-weight: 80;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	line-height: 1em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
	/* font-family: "ZT Hoky", sans-serif; */
	font-family: "Tactics Regular", "Helvetica", sans-serif;
	font-weight: 400;
	font-size: 28pt;
	line-height: 1em;
	letter-spacing: 0.0em;
	text-transform: none;
}

/* .archive-code {
	background-color: #000;
	color: var(--color-bg);
	padding: .1em .2em;
	width: fit-content;
} */

h1 {
	text-transform: lowercase;
	font-size: 48pt;
	line-height: normal;
}

h3 {
	font-size: 18pt;
}

.grid {
	display: grid;
	gap: var(--grid-gap);
}

.rows {
	display: flex;
	flex-direction: column;
	gap: var(--vertical-gap);
}

/* these are used on the product pages but are typed here so that product pages can be manually coded */
.row {
	width: 100%;
	/* margin-bottom: var(--vertical-gap); */
}

.inner-row-2-1 {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: var(--grid-gap);
}

.inner-row-1-2 {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: var(--grid-gap);
}

a,
a:hover,
a:visited,
a:active {
	color: var(--color-fg);
}

.arrow-links a,
.arrow-links a:hover,
.arrow-links a:active,
.arrow-link,
.arrow-link:hover,
.arrow-link:active,
.unstyled-links a,
.unstyled-links a:hover,
.unstyled-links a:active,
.unstyled-link,
.unstyled-link:hover,
.unstyled-link:active,
/* mailchimp button */
#mc-embedded-subscribe {
	text-decoration: none;
	border-bottom: none;
}

.arrow-link::before,
.arrow-links a::before,
/* mailchimp button */
#mc-embedded-subscribe::before {
	/* content: "↗"; */
	content: "→";
	/* display: inline-block; */
}

.warning {
	display: inline-block;
	padding: 0em 0em 0em 4em;
	background-image: url("/images/warning.svg");
	background-repeat: no-repeat;
	background-size: 3rem;
	min-height: 2rem;
	margin-bottom: 1rem;
}

/* dark mode */
@media (prefers-color-scheme: dark) {
	:root {
		--color-fg: white;
		--color-bg: black;
		--color-accent: blue;
	}

	.warning {
		filter: invert(1);
		color: var(--color-bg);
	}
}