@font-face {
	font-family: "Hyperwalk VF";
	src: url("/fonts/HyperwalkVF.woff2") format("woff2"),
		url("/fonts/HyperwalkVF.woff") format("woff"),
		url("/fonts/HyperwalkVF.ttf") format("ttf");
}

@font-face {
	font-family: "Hyperwalk Mono VF";
	src: url("/fonts/HyperwalkMonoVF.woff2") format("woff2"),
		url("/fonts/HyperwalkMonoVF.woff") format("woff"),
		url("/fonts/HyperwalkMonoVF.ttf") format("ttf");
}

:root {
	--color-fg: black;
	--color-bg: white;
	--color-accent: blue;
	--outer-margin: 1rem;
	--top-margin: 10rem;
	--grid-gap: 1rem;
	--vertical-gap: 3rem;
	background-color: var(--color-bg);
	color: var(--color-fg);
	text-align: left;
	font-size: 9pt;
}

.image-contrast {
	filter: contrast(0.77);
}

/* paragraph spacing */
body {
	font-family: "Hyperwalk Mono VF", sans-serif;
	font-weight: 80;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	line-height: 1em;
}

h1, h2, .large-paragraph, .caption {
	font-family: "Hyperwalk VF", sans-serif;
	text-transform: none;
}

.caption {
	letter-spacing: 0.03em;
	line-height: 1.2em;
	font-weight: 75;
}

h1, h2, .large-paragraph {
	font-size: 24pt;
	font-weight: 72;
	margin-bottom: .6em;
	line-height: 1.2em;
	/* letter-spacing: -.02em; */
}

h1 {
	font-size: 48pt;
	font-weight: 90;
	letter-spacing: -.02em;
	/* align-self: stretch; */
}

a,
a:hover,
a:visited,
a:active {
	color: var(--color-fg);
	text-decoration: underline;
	text-underline-offset: 0.1em;
}

.arrow-link a,
.arrow-link a:hover,
.arrow-link a:active,
.arrow-link,
.arrow-link:hover,
.arrow-link:active,
.unstyled-link a,
.unstyled-link a:hover,
.unstyled-link a:active,
.unstyled-link,
.unstyled-link:hover,
.unstyled-link:active {
	text-decoration: none;
	border-bottom: none;
}

.arrow-link::before {
	content: "→";
	/* display: inline-block; */
}

/* dark mode */
@media (prefers-color-scheme: dark) {
	:root {
		--color-fg: white;
		--color-bg: black;
		--color-accent: blue;
	}
}